<nav id="menu" class="menu-item sidenav">
	<ul>
		<li style="text-align:center;"><img src="img/menu_logo.png" style="width: 40%;"><li>
			<li style="text-align:center;margin-top:20px;">
				<img src="img/bar_icon.png" style="width: 30%;padding-left: 15px;">
				<img src="img/bar_icon.png" style="width: 24%;margin-left: -2px;">
				<img src="img/bar_icon.png" style="width: 24%;margin-left: -2px;">
				
			</li>
			<!--<li style="margin-top:20px;z-index:1000"><a href="#!order" class="menuactive" ng-click="redirectTo('order')">Order Summary</a></li>
			<li style="z-index:1000">
					<a ng-disabled="!headObj.curv3Active || !rworders" ng-class="{'menuactive':headObj.curv3Active || rworders, 'menuinactive':!headObj.curv3Active || !rworders}" ng-click="openPage('login');">Start New Activity</a>
			</li>-->
			<li style="z-index:1000;">
				<span class="col-xs-6" style="margin-top: 6px; font-size: 15px; color: rgba(20, 70, 50, 0.78) !important; text-align: right;">{{'LANGUAGE'|translate}}</span>
				<span class="col-xs-6">
					<section class="onoffswitch" style="z-index: 9999999;">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked ng-model="lang" ng-change="changeLan(lang)">
						<label class="onoffswitch-label" for="myonoffswitch">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</section>
				</span>
			</li>
			
			<!-- Debug Mode Implementation (25-Jun-2018 by Zameer) -->
			<li style="z-index:1000;">
				<span class="col-xs-6" style="margin-top: 6px; font-size: 15px; color: rgba(20, 70, 50, 0.78) !important; text-align: right;">Debug Mode</span>
				<span class="col-xs-6">
					<section class="onoffswitch" style="z-index: 9999999;">
						<input type="checkbox" name="debugswitch" class="onoffswitch-checkbox" id="debugswitch" checked ng-model="dbg" ng-change="debug(dbg)">
						<label class="onoffswitch-label" for="debugswitch">
							<span class="debugswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</section>
				</span>
			</li>
			<!-- Over -->
			
			<li style="z-index:1000; display:inline-block; width:100%; text-align:center;">
				<a ng-click="clearData()" class="menuactive" style="margin-left: -10px;"><span class="glyphicon glyphicon-trash" style="margin-right: 5px;"></span>{{'ClearData' | translate}}</a>
			</li>
			<li style="z-index:1000; display:inline-block; width:100%; text-align:center;">
				<a ng-click="exportErrorLogs()" class="menuactive" style="margin-left: -10px;"><span class="glyphicon glyphicon-trash" style="margin-right: 5px;"></span>{{'EXPORT_ERROR_LOGS' | translate}}</a>
			</li>
			<li style="z-index:1000; display:inline-block; width:100%; text-align:center;">
				<a ng-click="openPage('about');" class="menuactive" style="margin-left: -10px;">{{'ABOUT_US' | translate}}</a>
			</li>
			<!--<li style="z-index:1000"><a href="#" class="menuactive">Help</a></li>-->
			<li style="bottom:0px;position:absolute;">
				<img src="img/menu_bg.png" style="height: 375px;width: 100%;">
			</li>
		</ul>
	</nav>
	<div id="header" class="container-fluid header-div">
		<div class="row headercont-div">
			<div class="col-xs-12 header-content">
				<img class="header-img" src="img/menu_icon.png" ng-click="showMenu($event)">
				<span class="header-title" >{{headObj.title|translate}}</span>
				<!-- <div class="header-title pull-right" ng-show='skipshow' ng-click="skip()" style="display:inline-block">Skip</div> 
				<div ng-class="{'wifidisable-img': !wifienable,'wifi-enable' : wifienable}" class="wifi-img pull-right" ng-show='wifishow' style="display:inline-block"></div>
				<div ng-class="{'wifidisable-img': !wifienable,'wifi-enable' : wifienable}" class="wifi-img pull-right" ng-show='wifishow' style="display:inline-block"></div>-->
			</div>
		</div>
		<div class="row header-pane" ng-class="{curv3up:headObj.curv3Active || headObj.speed}">
			<!--<div class="col-xs-1"></div>-->
			<!--<div class="col-xs-11">-->
			<div class="col-xs-4">
				<a class="cur nav-pane" ng-disabled="currentdsbld1" >
					<div ng-show="headObj.curv2Active || headObj.curv3Active">
						<img ng-src="img/tick_icon.png" class="chkd-icon" />
					</div>
					<span ng-class="{innerCurv:headObj.active}" ng-show="headObj.curv1Active"> </span>
					<div ng-show="headObj.curv1Active" ng-class="{'selectedtxt':headObj.curv1Active, 'curv3':headObj.curv3Active, 'two-digit': twodigit, 'one-digit':!twodigit2}">{{headObj.curv1|translate}}</div>
				</a>
				<img src="img/top_bar_icon.png" class="top-bar paneimg">
				<div><span class="curvtxt-div">{{headObj.curv1Txt|translate}}</span></div>
			</div>
			<div class="col-xs-4 pane2-div">
				<a class="nav-pane pane2" ng-disabled="currentdsbld2" >
					<div ng-show="headObj.curv3Active"><img ng-src="img/tick_icon.png" class="chkd-icon" /></div>
					<span ng-class="{innerCurv:headObj.active}" ng-show="headObj.curv2Active"> </span>
					<div  ng-class="{'selectedtxt':headObj.curv2Active, 'two-digit': twodigit2,'one-digit':!twodigit2, 'hide-elm' : headObj.curv3Active}">
						{{headObj.curv2|translate}}
					</div>
				</a>
				<img src="img/top_bar_icon.png" class="top-bar paneimg">
				<div><span class="curvtxt-div">{{headObj.curv2Txt|translate}}</span></div>
			</div>
			<div class="col-xs-4">
				<a class="nav-pane" ng-disabled="currentdsbld3" >
					<span ng-class="{innerCurv:headObj.curv3Active}" ng-show="headObj.curv3Active"> </span>
					<div  ng-class="{'selectedtxt':headObj.curv3Active, 'two-digit': twodigit, 'one-digit':!twodigit}">
						{{headObj.curv3|translate}}
					</div>
				</a>
				<img src="img/top_bar_icon.png" class="top-bar paneimg">
				<div><span class="curvtxt-div">{{headObj.curv3Txt|translate}}</span></div>
			</div>
			
		</div>
		
		<div class="row">
		</div>
	</div>
</div>
<div id="mydiv" ng-show="loaderImg">
	<img src="img/loader.gif" class="ajax-loader"/>
	<p class="loadermsg">{{loadermsg | translate}}</p>
</div>